<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <script src="form.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://yastatic.net/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="form.css">
</head>
<body>
<!-- Нехватило времени на правильную форму города отправиля маму на отдух )) буду включаться щас больще все дела разгреб -->
<div id="app">
<input :class="dinamicClassName" v-model="name">
<input :class="dinamicClassPhone" v-model="phone">
<input :class="dinamicClassEmail" v-model="email">
<input :class="dinamicClassText" v-model="text">
<input names="city" />
<select id="cities">
   <option value="Naples">Naples</option>
   <option value="London">London</option>
   <option value="Berlin">Berlin</option>
   <option value="New York">New York</option>
   <option value="Frattamaggiore">Frattamaggiore</option>
</select>
<button @click="validateAndSend" class="send" id="but1">{{ send }}</button>
</div>
<script>
    $('select#cities').on('change', function() {
  $('input[names="city"]').val(this.value);
});
</script>
</body>
</html>
